.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #861717;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  align-content: center;
}

.App-body {
  background-color: #ffffff;
}

.App-link {
  color: #ffffff;
  text-decoration: none;
}

.Textarea {
  background-color:#f0f0f0;
  font-size: calc(9px + 1.8vmin);
  height: 30px;
  text-align: center;
}

.User-button {
  color: #000000;
  height: 25px;
  text-align: center;
}