.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #861717;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.App-body {
  background-color: #ffffff;
}

.App-link {
  color: #ffffff;
  text-decoration: none;
}
